<div id="login-form">
  <h3>Log In</h3>
  <video autoplay muted loop id="background-video">
     <source src="../video/backgroundvideo.mp4" type="video/mp4">
</video>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <form action="/auth/login" method="POST">

   
    <label>
      <input type="email" name="email" placeholder="Your email" />
    </label>
    <br>
    <br>
    <label>
      <input type="password" name="password" placeholder="Your password" />
    </label>
    <br><br>
    <button type="submit">Log In</button>

    <p>If you don't have an account, Signup  <a style="color: black;" href="/auth/signup">here</a></p>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>