<div id="form">
  <h3>Sign Up</h3>
    <video autoplay muted loop id="background-video">
     <source src="../video/backgroundvideo.mp4" type="video/mp4">
</video>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <form action="/auth/signup" method="POST">

    <label> 
      <input type="text" name="name" placeholder="Your name" />
    </label>
    <br><br>
    <label>
      <input type="email" name="email" placeholder="Your email" />
    </label>
    <br><br>
    <label>
      <input type="password" name="password" placeholder="Your password" />
    </label>
    <br><br>
    <button type="submit">Sign Up</button>

    <p>If you already have an account Login <a style="color: black;" href="/auth/login">here</a></p>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>