<form action="/profile/update" method="post">
    <label>Name: <input type="text" name="name" placeholder="{{name}}"></label>
    <label>Email: <input type="email" name="email" placeholder="{{email}}"></label>
    <label>Password: <input type="password" name="name" placeholder="********"></label>
    <label>Bio: <input type="text" name="bio" placeholder="{{bio}}"></label>
    <label>Name: <input type="text" name="name" placeholder="{{name}}"></label>
    
</form>