
    <label>Name: {{user.name}}</label>
    <label>Email: {{user.email}}"</label>
    <label>Password: ********</label>
    <label>Bio: {{user.bio}}</label>
    <label>Collections: {{user.ownedCollections}}</label>
    <br><br>
<a href="/profile/update">Edit</a>

</form>