<h2>User Update</h2>

<form action="/profile/update" method="post">
    <label>Name: <input type="text" name="name" placeholder="{{user.name}}"></label>
    <label>Email: <input type="email" name="email" placeholder="{{user.email}}"></label>
    <label>Password: <input type="password" name="password" placeholder="********"></label>
    <label>Bio: <input type="text" name="bio" placeholder="{{user.bio}}"></label>
    <label>Name: <input type="text" name="name" placeholder="{{user.name}}"></label>
    <button type="submit">Save Changes</button>
</form>