<h2 style="text-align:center">Create a Item</h2>
<video autoplay muted loop id="background-video">
     <source src="/video/backgroundvideo.mp4" type="video/mp4">
</video>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="centertwo">
<div class="row">
    <div class="col-md-6">
        <form action="/create/item/{{collection._id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>
                Title:
                <input type="text" name="title" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Description:
                <textarea name="description" cols="30" rows="5" class="form-control"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label>
                
                <input type="file" name="item-image" class="form-control-file"/>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Create Item</button>
        </form>
    </div>
</div>

</div>