<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label> 
      <input type="text" name="name" placeholder="Your name" />
    </label>
    <br><br>
    <label>
      <input type="email" name="email" placeholder="Your email" />
    </label>
    <br><br>
    <label>
      <input type="password" name="password" placeholder="Your password" />
    </label>
    <br><br>
    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>