<div class="firstpage">
    <h1>GalleryHub connects you with a <br> 
    community of like-minded people</h1>
    <p class="firstParagraph"> GalleyHub provides a platform for artists, photographers, writers, and creatives of all kinds to showcase their work and connect with a community of like-minded people.
    The web app allows users to create a profile, upload their artwork, and add descriptions and tags to help others discover their work. Users can also browse and search for other people's work using keywords or categories.
 </div>

<video autoplay muted loop id="background-video">
     <source src="../video/backgroundvideo.mp4" type="video/mp4">
</video>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#background-video').insertBefore('.firstpage');
    });
</script>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/annaha.jpg" class="imagehome" alt="anne"  style="border-radius: 30px;">
       <div class="carousel-caption d-none d-md-block">
       <h3>Anne Hathaway</h3>
    <p>Anne Jacqueline Hathaway (born November 12, 1982) is an American actress. The recipient of various accolades, including an Academy Award, a British Academy Film Award, a Golden Globe Award, and a Primetime Emmy Award, she was among the world's highest-paid actresses in 2015. Her films have grossed over $6.8 billion worldwide, and she appeared on the Forbes Celebrity 100 list in 2009.</p>
            <a href="/creators/{{users.id}}" class="btn btn-primary">CREATORS</a>
         </div>
    </div>
    <div class="carousel-item">
      <img src="/images/tarantinoOscar.jpg" class="imagehome" alt="tarantino" style="border-radius: 30px;">
      <div class="carousel-caption d-none d-md-block">
       <h3>Quentin Tarantino</h3>
    <p>Quentin Jerome Tarantino, is an American film director, writer, producer, and actor. His films are characterized by stylized violence, extended dialogue including a pervasive use of profanity, and references to popular culture.</p>
           <a  href="/creators/{{users.id}}" class="btn btn-primary">CREATORS</a>
         </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>