@font-face {
  font-family: Blippo;
  src: url(../fonts/Righteous-Regular.ttf);
}

a {
  color: #fff;
  text-decoration: none;
  font-family: Blippo;
}

.navbar {
  word-spacing: 20px;
  padding-left: 1%;
  font-family: Blippo;
  font-size: 20px;
}

.btn.btn-white.dropdown-toggle {
  color: #fff;
  font-size: 20px;
}

.carousel-inner {
  align-items: center;
  text-align: center;
  align-content: center;
  color: #fff;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #87CEFA ;
  border: #87CEFA;
}
.imagehome {
  width: 100%;
  height: 117%;
}

.firstpage {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  padding: 20vh 10%;

  position: relative;
  z-index: 1;
  color: #fff;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: 15px;
  text-align: center;
}

.firstParagraph {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

#login-form {
  width: 400px;
  margin: 20 auto;
  padding: 50px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-family: blippo;
}

#form {
  width: 400px;
  margin: 20 auto;
  padding: 50px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-family: blippo;
}


/*-------------------------- User Profile Pages ---------------------------*/
.profileInfo{
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
}
.userProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 10px 20px;
  margin: 0;
  

  background-color: rgb(75, 74, 72);
  border: 2px solid rgb(26, 26, 99);
  border-radius: 5px;
}

.infoBox{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: end;
  color: white;

  font-family: monospace;

  padding: 10px 0;
  margin:0;
}
.infoBox img{
  width: 200px;
  height: 250px;

  border-radius: 5px;
}
.edit-btn{
  color: white;
  text-decoration: none;
  font-family: Blippo;
  text-align: center;

  background-color: rgb(26, 26, 99);
  border-radius: 5px;
  border: 2px solid white;


  margin: 10px 20px;
  padding: 5px 10px;
}

/*-------------------------- Video background home page ---------------------------*/

      #background-video {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }