@font-face {
  font-family: Blippo;
  src: url(../fonts/Righteous-Regular.ttf);
}

h2 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insidethebox {
  color: black;
}

.navbar {
  word-spacing: 20px;
  padding-left: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
}

.btn.btn-white.dropdown-toggle {
  color: #fff;
  font-size: 22px;
}

.carousel-inner {
  align-items: center;
  text-align: center;
  align-content: center;
  color: #fff;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #87CEFA ;
  border: #87CEFA;
}

.imagehome {
  width: 100%;
  height: 117%;
}

.firstpage {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  padding: 20vh 10%;

  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: 15px;
  text-align: center;
}

.firstParagraph {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

#login-form {
  width: 400px;
  margin: 20 auto;
  padding: 50px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-family: blippo;
}

#form {
  width: 400px;
  margin: 20 auto;
  padding: 50px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-family: blippo;
}


/*-------------------------- User Profile Pages ---------------------------*/
.profileInfo{
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
}
.userProfile{
  width: 400px;
  margin: 20 auto;
  padding: 50px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffffa0;
  font-family: blippo;
}

.infoBox{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: end;
  color: black;

  font-family: monospace;

  padding: 10px 0;
  margin:0;
}
.infoBox img{
  
  width: 200px;
  height: 250px;
  border-color: #87CEFA 2px;
  border-radius: 10px;
}
.edit-btn{
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  text-align: center;

  background-color: #87CEFA;
  border-radius: 5px;
  border: 2px solid white;

  margin: 10px 20px;
  padding: 5px 10px;
}

.infoBox input[type="text"],
.infoBox input[type="email"],
.infoBox input[type="password"],
.infoBox input[type="textarea"],
.infoBox input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  }

.infoBox textarea {
  height: 100px;
}

.infoBox input[type="file"] {
  padding: 0;
}

/*-------------------------- Video background home page ---------------------------*/

#background-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
    }

/*-------------------------- Collections ---------------------------*/
.createPageTitle{
  text-align: center;
  margin-top: 30px;
}
.center {
  flex-direction: column;
  align-items:center;
 
}

.centertwo {
  display: flex;
  justify-content: center;
  margin: 20px 30%;
}
 .create-form{
  width: 60%;
  font-size: larger;
  
 }

/*-------------------------- Favourites ---------------------------*/

.col-5 input[type="image"] {
  width: 28px; 
  height: 25px;
  position: absolute;
}

