<h2>Edit the collection</h2>

<div>
<form action="/edit/collection/{{collection._id}}" method="post" enctype="multipart/form-data">
    <label>Title:
        <input type="text" name="title" value="{{collection.title}}" class="form-control"/>
    </label>
    <label>Description:
        <input type="text" name="shortDescription" value="{{collection.shortDescription}}" class="form-control"/>
    </label>
    <label>Image:
        <input type="file" name="coverImgSrc" class="card-img-top" alt="{{collection.coverImgSrc}}">
    </label>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
</div>