	<div class="firstpage">
		<h1>GalleyHub connects you with a community of like-minded people</h1>
		<p class="firstParagraph">At GalleyHub creators can share their creations with their community and connect with them
		At GalleyHub users can search for creators or collections that they enjoy and connect with the creators
		At GalleyHub users can search for creators or collections that they enjoy and connect with the creators
		At GalleyHub users can search for creators or collections that they enjoy and connect with the creators<br>
		At GalleyHub users can search for creators or collections that they enjoy and connect with the creators</p>
	</div>
   {{!--  <section id="carouselExample" class="carousel-slide">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="/nicolas.jpg" class="d-block w-100" alt="slideone">
        <div class="carousel-caption d-none d-md-block">
       <h3>FIRST COLLECTION</h3>
    <p>Nam luctus velit ultricies vestibulum eleifend. Proin imperdiet varius rutrum. Curabitur placerat lacus eu ligula<br>
         pellentesque euismod? Aliquam volutpat augue id nibh auctor, at varius dui semper? Suspendisse non<br> 
         pellentesque sapien, et sagittis erat. Quisque et dignissim elit. Sed sit amet sapien ac quam vestibulum suscipit<br>
         ac id diam. Morbi accumsan est vitae tellus vulputate […]</p>
           <button type="button" class="btn btn-light">READ MORE</button>
         </div>
    </div>
    <div class="carousel-item">
      <img src="/pokemon.jpg" class="d-block w-100" alt="slidetwo">
        <div class="carousel-caption d-none d-md-block">
       <h3>SECOND COLLECTION</h3>
    <p>Quisque sit amet sagittis justo. Suspendisse ornare, felis feugiat suscipit pharetra, lorem est viverra odio;<br>
        tristique tristique diam tellus id tellus. In consectetur aliquet tristique. Curabitur imperdiet leo in nisl consectetur <br> 
         mattis. Quisque bibendum, mauris vitae suscipit ornare; est nibh elementum mauris, eu malesuada nunc magna<br>
        at justo. Proin blandit id tellus non pellentesque. Mauris […]</p>
           <button type="button" class="btn btn-light">READ MORE</button>
         </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section> --}}